body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}
.outer{
    display: box;
    margin-bottom: 30px;
}
textarea{
    padding: 30px;
    display: block;
    box-sizing: border-box;
    width: 500px;
    height: 300px;
    font-size: 20px;
    -webkit-appearance: none;
    border: none;
    resize: none;
    &:focus {
        outline: none;
    }
}

.inner{
    .title{
        border-bottom: 1px solid #ccc;
    }
    &.config .container{
        background-color: #999;
        color: #fff;
    }
    &.console .container{
        margin-right: 30px;
        font-family: 'Play', sans-serif;
        background-color: #000;
        color: #0f0;
    }
}
