include /mixin/_scripts
doctype html
html.no-js
    head
        meta(charset='utf-8')
        title generator webapp kashiro
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width')
        link(href='http://fonts.googleapis.com/css?family=Play', rel='stylesheet', type='text/css')
        // build:css(.tmp) styles/main.css
        link(rel='stylesheet', href='styles/main.css')
        // endbuild
    body
        main
            section#basic
                h1 Basic configuation
                .outer
                    .inner.console
                        h2.title emulator
                        textarea.container
                    .inner.config
                        h2.title configuation
                        textarea(class="container", readonly) ['Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.']
            section#conversion
                h1 Conversion (e.g. japanese kanaji)
                .outer
                    .inner.console
                        h2.title emulator
                        textarea.container
                    .inner.config
                        h2.title configuation
                        textarea(class="container", readonly) [{'わがはい':'我輩'},'は',{'ねこ':'猫'},'である。',{'なまえ':'名前'},'はまだ',{'ない':'無い'},'。どこで',{'うまれたか':'生まれたか'},'とんと',{'けんとう':'見当'},'がつかぬ。']

        // build:js(app) scripts/vendor.js
        +scripts(scripts.vendor)
        // endbuild

        // build:js({app,.tmp}) scripts/main.js
        +scripts(scripts.app)
        // endbuild
